<!doctype html>
<html lang="en" ng-app="redditApp" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="http://reset5.googlecode.com/hg/reset.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-controller="Reddit">


<nav>
    <h2>Fake Reddit <i class="fa fa-thumbs-o-up"></i> a Boss!</h2>
    <span ng-click="show()" class="new-post"><i class="fa fa-plus"></i>Submit Post</span>
    <input type="text" class="search" placeholder="Search" ng-model="search"/>
    <!--Results will fade in an out-->
    Sort by <select name="articles" id="articles" ng-model="selected" ng-init="selected = '-votes'" class="sort">
              <option value="-votes">Votes</option>
              <option value="date">Date</option>
              <option value="title">Title</option>
            </select>
</nav>


    <form ng-submit="submitPost()" ng-show="form > 0">
        <p>
            <label for="title">Title</label><br>
            <input type="text" id="title" placeholder="Title" ng-model="title" required>
        </p>
        <p>
            <label for="author">Author</label><br>
            <input type="text" id="author" placeholder="Author" ng-model="author" required>
        </p>
        <p>
            <label for="image">Image URL</label><br>
            <input type="text" id="image" placeholder="Image URL" ng-model="image" required>
        </p>
        <p>
            <label for="description">Description</label><br>
            <input type="text" id="description" placeholder="Description" ng-model="description" required>
        </p>

        <input type="submit" value="Submit Post" class="submit-button">
    </form>


<article ng-repeat="info in articles | filter: search | orderBy: selected">
    <img ng-src="{{info.image}}" alt="image" height="150" width="200"/><br>
    <h1>{{info.title}}</h1><br>
    <i class="fa fa-arrow-up" ng-click="upVote(info)"></i><i class="fa fa-arrow-down" ng-click="downVote(info)"></i><span ng-class="{pos: info.votes > 0, neg: info.votes < 0}"><h2>{{info.votes}}</h2></span><br>
    <h2>By: {{info.author}}</h2><br>
    <p>{{info.description}}</p><br>
    <i class="fa fa-calendar"></i> {{info.date | date: 'EEEE, MMMM dd, yyyy'}} | <a ng-click="showComments()" class="new-post"><i class="fa fa-comments"></i> {{info.comments.length}} <ng-pluralize count="info.comments.length" when="{'1': 'Comment','other': 'Comments'}"></ng-pluralize></a> | <a ng-click="newComment()" class="new-post"><i class="fa fa-pencil"></i> Add Comment</a>

    <div ng-show="allComments > 0" ng-repeat="comment in info.comments" class="comments">
        <h3>
            {{comment.person}}: {{comment.message}}
        </h3>
    </div>
    <form ng-show="submitNewComment > 0" ng-submit="addComment(info.comments)">
        <label for="person">Author</label>
        <input type="text" id="person" ng-model="person">
        <label for="message">Message</label>
        <input type="text" id="message" ng-model="message">
        <input type="submit" value="Submit">
    </form>
</article>



<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
<script src="angular-sanitize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.js"></script>
<script type="text/javascript" src="app.js"></script>
<!-- <script src="http://code.onion.com/fartscroll.js"></script>
<script type="text/javascript">
  fartscroll(200);
</script> -->

</body>
</html>
