*, *:before, *:after {
box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html {
  font-family: sans-serif;
}

.new-post, .fa-arrow-up, .fa-arrow-down {
  cursor: pointer;
}

.fa-arrow-up, .fa-arrow-down {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
}

.fa-thumbs-o-up {
  color: #395bf9;
}

h1 {
  text-decoration: underline;
  font-size: 25px;
}

h2 {
  display: inline;
  margin-bottom: 10px;
  font-size: 20px;
}

nav {
  background: #f6f4f6;
  border: 1px solid darkgrey;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.sort {
  width: 100px;
  height: 25px;
  font-size: 15px;
}

.fa-plus {
  margin-left: 40px;
  margin-right: 10px;
}

form {
  margin-bottom: 30px;
  margin-left: 75px;
}

.search {
  margin-left: 20px;
  margin-right: 20px;
}

.submit-button {
  background-color: white;
  width: 90px;
  height: 30px;
  margin-top: 10px;
}

article {
  background: #f6f4f6;
  border: 1px solid darkgrey;
  border-radius: 3px;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

img {
  border: 1px solid darkgrey;
  float: left;
  margin-right: 10px;
}

p {
  margin-top: 10px;
  line-height: 1.5;
}

input {
  padding: 5px;
  border-radius: 7px;
  border: 0;
  border: 1px solid darkgrey; }

select {
  border: 0; }

.pos {
  color: green; }

.neg {
  color: red; }

.comments {
  margin-top: 20px;
}
